@import './mixins';
@import './variables';

.mission-table {
  width: 90%;
  border-collapse: collapse;
  margin: 3rem auto;
}

.mission-table > tbody > tr:nth-child(odd) {
  background-color: $color-grey-light;
}

.mission-table td {
  border: .1rem solid $color-grey;
  padding: 1rem;
}

.mission-table th {
  text-align: left;
  border: .1rem solid $color-grey;
  padding: .5rem;
  font-size: 1.7rem;
}