@import './variables';
@import './mixins';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.info {
    display: flex;
    align-items: center;
    width: 50%;

    @include respond(phone) {
        width: 60%;
    }
}

.logo {
    height: 8rem;
    margin-right: 2rem;

    @include respond(phone) {
        height: 6rem;
    }
}

.title {
    font-size: 2.5rem;
    font-weight: 900;

    @include respond(phone) {
        font-size: 2rem;
    }
}

.nav-link {
    font-size: 1.5rem;
    padding: 0 2rem;
    color: rgb(0, 89, 255);
    text-decoration: none;

    &:nth-child(2) {
        border-right: .2rem solid $color-black;
    }

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }

        &:nth-child(2) {
        border-right: none;
    }
    }
}

.active {
    color: blue;
    text-decoration: underline;
}