@import './mixins';
@import './variables';

.list {
    display: flex;
    width: 90%;
    margin: 5rem auto;

    @include respond(phone){
        width: 97%;
    }
}

.rocket-image {
    height: 18rem;
    width: 15%;
    margin-right: 5rem;

    @include respond(phone){
        height: 20rem;
        width: 24%;
        margin-right: 3.5rem;
    }
}

.name {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;

    @include respond(phone){
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
    }
}

.description {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 2rem 0;

    @include respond(phone){
        margin-top: 1rem;
    }
}

.reserve {
    color: #fff;
    background-color: $color-blue;
    padding: 1.2rem;
    border: none;

    @include respond(phone){
        padding: 1rem;
        font-size: 1rem;
    }
}

.cancel {
   color: $color-grey;
    background-color: #fff;
    padding: 1.2rem; 
    border: .1rem solid black;

    @include respond(phone){
        padding: 1rem;
        font-size: 1rem;
    }
}

.span {
    color: #fff;
    background-color: $color-green;
    padding: 1rem;

    @include respond(phone){
        padding: .7rem;
        font-size: .8rem;
    }
}