.my-profile-item {
  flex: 1;
}

.my-profile-mission-table {
  width: 90%;
  border-collapse: collapse;
}

.my-profil-mission {
  text-align: left;
  border: .1rem solid lightgrey;
  padding: .5rem;
    font-size: 1.5rem;
}

.mission {
    font-size: 2.5rem;
}

.paragraph {
    font-size: 1.5rem;
}